body.light {
    background: white;
    color: black;
  }
  
body.dark {
    background: black;
    color: white;
  }

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
  }
  
.photo-card {
    background: #ddd;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.gallery-nav {
    margin-top: 1rem;
  }
  
.gallery-nav button {
    margin-right: 0.5rem;
  }

button {
    padding: 0.75rem 1.5rem;  
    font-size: 1rem;           
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: blueviolet;   
    color: white;
    transition: background 0.3s;
  }
  
button:hover {
    background: purple;      /* diff purple on the hover*/
  }

  /* default button style */
button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: blueviolet;
    color: white;
    transition: background 0.3s, color 0.3s;
  }
  
button:hover {
    background: blueviolet;
  }
  
button:active {
    background: #004f88;
  }
  
  /* Dark theme button override */
body.dark button {
    background: blueviolet;   
    color: black;        
  }
  
body.dark button:hover {
    background: #ddd;   
  }
  
  